In [ ]:
understanding the variable in python:

In [5]:
x = 2
y = 3

In [6]:
z = x+y 

print(z)

5

In [ ]:
rules for declaring the variables in python:

In [ ]:
rule no - 1: No Namespace While declaring the variable in python:

In [7]:
first name = 'Affan'

print(first name)

SyntaxError: invalid syntax (3305297325.py, line 1)

In [8]:
firstname = 'Affan'

print(firstname)

Affan

In [ ]:
rule no 2 : A variable name should not start with a number**

In [9]:
1name = 'ayman'

print(1name)

SyntaxError: invalid decimal literal (3886468308.py, line 1)

In [10]:
name1 = 'ayman'

print(name1)

ayman

In [ ]:
rule no 3: A variable name should not contain any special characters

In [ ]:
@ $ # % & *

In [11]:
name@ = 'naveen'

print(name@)

SyntaxError: invalid syntax (3828972452.py, line 1)

In [ ]:
introduction to datatypes in python :

In [ ]:
1. string ===> str
2. Number ( integers (int) and floats (decimals 0.1,0.2))
3. lists ===> list
4 tuples ===> tuple
5. Dictionaries ===> dict

In [ ]:
classification of datatypes ;

 1. mutable datatypes ===> which we can edit and alter ===> flexible in nature
 2. immutable datatypes ===> which we cannot be able to edit or later ===> fixed in nature

In [ ]:
introduction to string datatype :

Defination : A string is a combination of series of characters declared in quotes.

classification : it is classified as immutable datatypes

how to declare the string datatype -------?

1. single quote

2. double quote

In [12]:
name = 'karthik'

print(name)

karthik

In [13]:
name2 = "rahim"

print(name2)

rahim

In [ ]:
introduction to string methods :

In [14]:
type(name)

str

In [15]:
type(name2)

str

In [16]:
fullname = 'rahul patil'

print(fullname)

rahul patil

In [17]:
print(fullname.title())

Rahul Patil

In [ ]:
#req : want the full name in capital letters

In [18]:
print(fullname.upper())

RAHUL PATIL

In [ ]:
# req: want the full name in small case letter

In [19]:
print(fullname.lower())

rahul patil

In [ ]:
# is used for commenting the lines